* {
    margin: 0;
    padding: 0;
    text-align: center;
}

p {
    font-size: 3.5rem;
    margin-top: 1rem;
}
a {
    text-decoration: none;
}

.main {
    margin-top: 18rem;

}

.main h4{
    font-size: 6rem;

}

.main img {
    padding-top: 4rem;
    width: 24rem;
}

.main p:nth-child(4) {
    color: gray;

}

.main span{
    margin-top: 7rem;
    display: inline-block;
    background-color: rgb(36, 185, 36);
    color: rgb(245, 245, 245);
    width: 38rem;
    height: 9rem;
    line-height: 9rem;
    font-size: 3.8rem;
    border-radius: 1rem; 
}

.compang-card{
    margin: 30rem auto 10rem;
    width: 94%;

    height: 28rem;
    border-radius: 1rem; 
    box-shadow: 0 1rem 7rem 0 rgba(0,0,0,.15)
}

.compang-card #logo {
    float: left;
    /* display: inline-block; */
    width: 25rem;
    height: 100%;
}

.compang-card #logo img {
    border-radius: 50%; 
    margin:4.5rem;
    width: 18rem;
}
.compang-card #name {
    float: left;
    /* display: inline-block; */
    width: 69rem;
    text-align: left;
}

.compang-card #name h4{
    margin: 4rem 0 0 4rem;
  
    font-size: 4rem;
    text-align: left;
}

.compang-card #name a{
    margin: 10rem 0 0 4rem;
    display: inline-block;
    font-size: 3rem;
    text-align: left;
    color:gray;

}