* {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

p {
    font-size: 3.5vw;
    margin-top: 1vw;
}
a {
    text-decoration: none;
}

#app {
    width: 100%;
}

.main {
    margin-top: 18vw;
    width: 100%;
}

.main h4{
    font-size: 6vw;

}

.main img {
    padding-top: 4vw;
    width: 24vw;
}

.main p:nth-child(4) {
    color: gray;

}

.main span{
    margin-top: 7vw;
    display: inline-block;
    background-color: rgb(36, 185, 36);
    color: rgb(245, 245, 245);
    width: 38vw;
    height: 9vw;
    line-height: 9vw;
    font-size: 3.8vw;
    border-radius: 1vw; 
}

.company-card{
    margin: 30vw auto 10vw;
    width: 94vw;
    height: 28vw;
    border-radius: 1vw; 
    box-shadow: 0 1vw 7vw 0 rgba(0,0,0,.15)
}

.company-card #logo {
    float: left;
    /* display: inline-block; */
    width: 25vw;
    height: 100%;
}

.company-card #logo img {
    border-radius: 50%; 
    margin:4.5vw;
    width: 18vw;
}
.company-card #name {
    float: left;
    /* display: inline-block; */
    width: 69vw;
    height: 100%;
    text-align: left;
}

.company-card #name h4{
    margin: 4vw 0 0 4vw;
  
    font-size: 4vw;
    text-align: left;
}

.company-card #name a{
    margin: 10vw 0 0 4vw;
    display: inline-block;
    font-size: 3vw;
    text-align: left;
    color:gray;
}